## Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
os:
  - linux
  - osx
julia:
  - 0.6
  - nightly
matrix:
  - PYTHON=Conda-python
matrix:
  allow_failures:
    - julia: nightly
notifications:
  email: false
script:
  - export LD_LIBRARY_PATH=$HOME/.julia/v0.6/Conda/deps/usr/lib; LD_PRELOAD=${HOME}/.julia/v0.6/Conda/deps/usr/lib/libz.so julia -e 'Pkg.clone(pwd());Pkg.test("GaussianRandomFields"; coverage=true);'
before_install:
  - julia -e 'ENV["PYTHON"]=""; Pkg.add("Conda"); using Conda; Conda.update(); Conda.add("matplotlib"); Pkg.add("PyCall"); Pkg.build("PyCall"); Pkg.add("PyPlot");'
after_success:
  # push coverage results to Coveralls
  - julia -e 'cd(Pkg.dir("GaussianRandomFields")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())'
  # push coverage results to Codecov
  - julia -e 'cd(Pkg.dir("GaussianRandomFields")); Pkg.add("Coverage"); using Coverage; Codecov.submit(Codecov.process_folder())'
